<div class="flex-box">
    <mat-grid-list class="list-queues" cols="2" rowHeight="150px" [gutterSize]="'10px'">
        <mat-grid-tile *ngFor="let queue of queues" (click)="addPacientOnQueue(queue.prefix)"
            class="queueSelector mat-elevation-z6">
            {{queue.name}}
        </mat-grid-tile>
    </mat-grid-list>

    <div class="action-buttons">
        <button mat-raised-button (click)="goBack()"><mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_backspace</mat-icon></button>
        <button mat-raised-button  routerLink='/config'><mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon></button>
    </div>
</div>