<div class="config-card">
    <mat-card>
        <mat-card-header>
            <!-- <img mat-card-image src="https://app.quarkclinic.com.br/app/assets/Logo-3348c3daf10c83b9c7332147a5649024.png" > -->
            <mat-card-title style="font-size: 40px;">Configurações</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <mat-label>Escolha a logo</mat-label>
            <img *ngIf="url" [src]="url" height="200"> <br>
            <input type='file' (change)="onSelectFile($event)">
            <br>
            <mat-form-field>
                <mat-label> Escolha o modo de exibição </mat-label>
                <mat-select [(value)]="selectHomePage" required>
                    <mat-option value="chegada">Ordem de chegada</mat-option>
                    <mat-option value="agendado">Agendamento</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button (click)="saveConfig()">Salvar</button>
            <button mat-raised-button (click)="home()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>