<div class="config-card">
    <mat-card>
        <mat-card-header>
            <!-- <img mat-card-image src="https://app.quarkclinic.com.br/app/assets/Logo-3348c3daf10c83b9c7332147a5649024.png" > -->
            <mat-card-title style="font-size: 40px;">Configurações</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <mat-label>Escolher imagem</mat-label>
            <mat-label>Escolher modo de exibição</mat-label>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button routerLink='/config'>Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>