.login-card {
    /* border-style: solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #F3F9D2;
}

mat-card {
    padding: 40px 20px 40px 20px;
    border-radius: 2%;
}

mat-card-header {
    /* border-style: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15px;
}

mat-card-content {
    /* border-style: solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

mat-card-content > * {
    width: 400px;
}

mat-card-actions > button {
    width: 100%;
    background-color: #498721;
    color: #FFF;
}

img {
    object-fit: cover; 
    width: auto; 
    height: 100%;
}